absl-py==2.0.0
aiohttp==3.9.1
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.2.0
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.1.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
billiard==4.2.0
blinker==1.7.0
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
configparser==6.0.0
contourpy==1.1.1
cryptography==41.0.7
cycler==0.12.1
dnspython==2.4.2
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.13.1
Flask==3.0.0
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.46.0
frozenlist==1.4.0
geographiclib==2.0
geopy==2.4.1
googlemaps==4.10.0
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
kombu==5.3.4
MarkupSafe==2.1.3
matplotlib==3.7.4
mediapipe==0.10.8
multidict==6.0.4
netflix==0.1.1
numpy 
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
platformdirs==3.11.0
prompt-toolkit==3.0.41
protobuf==3.20.3
pycparser==2.21
PyGoogleVoice==0.5.2
PyJWT==2.8.0
pymongo==4.6.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
six==1.16.0
snowflake-connector-python==3.5.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.5
tomlkit==0.12.3
twilio==8.10.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.18
vine==5.1.0
wcwidth==0.2.12
Werkzeug==3.0.1
yarl==1.9.4
zipp==3.17.0
