{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'auth/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'auth/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'auth/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'auth/css/style.css' %}">

    <title>{% block title %}Helsinki{% endblock %}</title>


    {% block styles %}
    {% endblock %}


  </head>
  <body>
  

    {% block content %}
    {% endblock %}
    
  
    
    

    <script src="{% static 'auth/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'auth/js/popper.min.js' %}"></script>
    <script src="{% static 'auth/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'auth/js/main.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>