{% extends 'base2.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>

<body>
    <div class="content">

        <h2 style="color:steelblue;"> Frais d'admission et reçu</h2>
        <hr>
        <br>
        <h3 style="color:steelblue;">Montant des frais</h3>
        <h4 style="color:steelblue;">Admission dans un programme d'études</h4>
        <h5 style="color:steelblue;">Les frais d'admission en vigueur pour l'année 2023 sont de :</h5>
        <p>
        <ul class="disque-list">
            <li> 109 $ pour les candidats canadiens et les résidents permanents;</li>
            <li>144 $ pour les candidats internationaux.</li>
        </ul>
        </p>
        <p>
            Pour se prévaloir des frais de 109 $, le résident permanent doit fournir une photocopie recto verso de sa
            carte
            de
            résidence permanente.
            Les réfugiés sont considérés candidats internationaux et doivent payer les frais d'admission de 144 $.
            Les frais d'admission sont modifiés annuellement au 1er janvier.
        </p>
        <h4 style="color:steelblue;">
            Il n'y a AUCUNS FRAIS D'ADMISSION pour les candidats suivants, si la demande est soumise pour le trimestre
            ou
            l'année suivant l'obtention du diplôme :
        </h4>

        <p>
        <ul class="disque-list">
            <li>un candidat ayant complété un baccalauréat à l'UQAM ou dans un autre établissement du réseau de
                l'Université
                du
                Québec et qui fait une demande d'admission pour un programme de 2e cycle (programme court, DESS,
                maîtrise);
            </li>
            <li>
                un candidat ayant complété un programme court de 2e cycle à l'UQAM ou dans un autre établissement du
                réseau
                de
                l'Université du Québec et qui fait une demande d'admission pour un DESS ou pour une maîtrise;
            </li>
            <li>
                un candidat ayant complété un DESS à l'UQAM ou dans un autre établissement du réseau de l'Université du
                Québec et
                qui fait une demande d'admission pour une maîtrise;

            </li>
            <li>
                un candidat ayant complété une maîtrise à l'UQAM ou dans un autre établissement du réseau de
                l'Université du
                Québec
                et qui fait une demande d'admission pour un doctorat.

            </li>
        </ul>
        </p>
        <h5 style="color:steelblue;">Admission comme étudiant libre ou auditeur </h5>
        <p>Les frais d'admission sont de 109 $. Des frais non remboursables de 60 $ sont requis lors de la demande
            d'admission.
            La différence, soit 49 $, sera facturée au moment de l'inscription.</p>
        <h3 style="color:steelblue;">Nombre de programmes par demande d'admission</h3>
        <p>Le candidat paie 109 $ ou 144 $, en fonction de son statut au Canada, et ce, même s'il a fait :
        </p>
        <p>
        <ul class="disque-list">
            <li>1, 2 ou 3 choix de programmes (1er cycle);</li>
            <li>1 ou 2 choix de programmes (cycles supérieurs).</li>

        </ul>
        </p>
        <p>Si le candidat veut faire 6 choix de programmes (1er cycle) ou 4 choix de programmes (cycles supérieurs), il
            doit
            remplir une deuxième demande d'admission et payer à nouveau les frais d'admission de 109 $ ou de 144 $.<br>
            Si le candidat veut faire 1 choix de programme au 1er cycle et 1 choix de programme aux cycles supérieurs,
            il
            doit
            remplir 2 demandes d'admission (1 au 1er cycle et 1 aux cycles supérieurs) et payer 2 fois les frais
            d'admission
            de
            109 $ ou de 144 $.</p>
    </div>
</body>

</html>
{% endblock %}